<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>业力商店</title>

	<!--
            CSS
            ============================================= -->
	<link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/nouislider.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
</head>

<body id="category">

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- 品牌和切换组合以获得更好的移动显示效果 -->
					<a class="navbar-brand logo_h" href="index.html"><img src="/img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- 收集导航链接、表单和其他内容以进行切换 -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="/index">家</a></li>
							<li class="nav-item submenu dropdown active">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">店铺</a>
								<ul class="dropdown-menu">
									<li  class="nav-item active"><a class="nav-link"  href="/index/category" >店铺类别</a></li>
									<li class="nav-item"><a class="nav-link" href="/index/single-product">产品详情</a></li>
									<li class="nav-item"><a class="nav-link" href="/index/checkout">产品结帐</a></li>
									<li class="nav-item"><a class="nav-link" href="/index/cart">购物车</a></li>
									<li class="nav-item"><a class="nav-link" href="/index/confirmation">确认</a></li>
								</ul>
								
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">管理员</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="blog.html">管理员</a></li>
									<li class="nav-item"><a class="nav-link" href="single-blog.html">博客详细信息</a></li>
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">页数</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="login.html">登录</a></li>
									<li class="nav-item"><a class="nav-link" href="tracking.html">追踪</a></li>
									<li class="nav-item"><a class="nav-link" href="elements.html">元素</a></li>
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="contact.html">接触</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form action="/index/find" method="POST" class="d-flex justify-content-between">
					<input type="text" class="form-control"  name="title1" id="title1"  placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>商店类别页面</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">家<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">店铺<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">时装类别</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!--结束横幅区域 -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">浏览分类</div>
					<ul class="main-categories">
						<li class="main-nav-list"><a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable"><span
								 class="lnr lnr-arrow-right"></span>水果和蔬菜<span class="number">（53）</span></a>
							<ul class="collapse" id="fruitsVegetable" data-toggle="collapse" aria-expanded="false" aria-controls="fruitsVegetable">
								<li class="main-nav-list child"><a href="#">冷冻鱼<span class="number">（13）</span></a></li>
								<li class="main-nav-list child"><a href="#">鱼干<span class="number">（09）</span></a></li>
								<li class="main-nav-list child"><a href="#">鲜鱼<span class="number">（17）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉替代品<span class="number">（01）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉<span class="number">（11）</span></a></li>
							</ul>
						</li>

						<li class="main-nav-list"><a data-toggle="collapse" href="#meatFish" aria-expanded="false" aria-controls="meatFish"><span
								 class="lnr lnr-arrow-right"></span>肉和鱼<span class="number">（53）</span></a>
							<ul class="collapse" id="meatFish" data-toggle="collapse" aria-expanded="false" aria-controls="meatFish">
								<li class="main-nav-list child"><a href="#">冷冻鱼<span class="number">（13）</span></a></li>
								<li class="main-nav-list child"><a href="#">鱼干<span class="number">（09）</span></a></li>
								<li class="main-nav-list child"><a href="#">鲜鱼<span class="number">（17）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉替代品<span class="number">（01）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉<span class="number">（11）</span></a></li>
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#cooking" aria-expanded="false" aria-controls="cooking"><span
								 class="lnr lnr-arrow-right"></span>烹饪<span class="number">（53）</span></a>
							<ul class="collapse" id="cooking" data-toggle="collapse" aria-expanded="false" aria-controls="cooking">
								<li class="main-nav-list child"><a href="#">冷冻鱼<span class="number">（13）</span></a></li>
								<li class="main-nav-list child"><a href="#">鱼干<span class="number">（09）</span></a></li>
								<li class="main-nav-list child"><a href="#">鲜鱼<span class="number">（17）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉替代品<span class="number">（01）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉<span class="number">（11）</span></a></li>
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#beverages" aria-expanded="false" aria-controls="beverages"><span
								 class="lnr lnr-arrow-right"></span>饮料<span class="number">（24）</span></a>
							<ul class="collapse" id="beverages" data-toggle="collapse" aria-expanded="false" aria-controls="beverages">
								<li class="main-nav-list child"><a href="#">冷冻鱼<span class="number">（13）</span></a></li>
								<li class="main-nav-list child"><a href="#">鱼干<span class="number">（09）</span></a></li>
								<li class="main-nav-list child"><a href="#">鲜鱼<span class="number">（17）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉替代品<span class="number">（01）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉<span class="number">（11）</span></a></li>
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#homeClean" aria-expanded="false" aria-controls="homeClean"><span
								 class="lnr lnr-arrow-right"></span>家居和清洁<span class="number">（53）</span></a>
							<ul class="collapse" id="homeClean" data-toggle="collapse" aria-expanded="false" aria-controls="homeClean">
								<li class="main-nav-list child"><a href="#">冷冻鱼<span class="number">（13）</span></a></li>
								<li class="main-nav-list child"><a href="#">鱼干<span class="number">（09）</span></a></li>
								<li class="main-nav-list child"><a href="#">鲜鱼<span class="number">（17）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉替代品<span class="number">（01）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉<span class="number">（11）</span></a></li>
							</ul>
						</li>
						<li class="main-nav-list"><a href="#">除害虫<span class="number">（24）</span></a></li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#officeProduct" aria-expanded="false" aria-controls="officeProduct"><span
								 class="lnr lnr-arrow-right"></span>办公用品<span class="number">（77）</span></a>
							<ul class="collapse" id="officeProduct" data-toggle="collapse" aria-expanded="false" aria-controls="officeProduct">
								<li class="main-nav-list child"><a href="#">冷冻鱼<span class="number">（13）</span></a></li>
								<li class="main-nav-list child"><a href="#">鱼干<span class="number">（09）</span></a></li>
								<li class="main-nav-list child"><a href="#">鲜鱼<span class="number">（17）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉替代品<span class="number">（01）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉<span class="number">（11）</span></a></li>
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#beauttyProduct" aria-expanded="false" aria-controls="beauttyProduct"><span
								 class="lnr lnr-arrow-right"></span>美容产品<span class="number">（65）</span></a>
							<ul class="collapse" id="beauttyProduct" data-toggle="collapse" aria-expanded="false" aria-controls="beauttyProduct">
								<li class="main-nav-list child"><a href="#">冷冻鱼<span class="number">（13）</span></a></li>
								<li class="main-nav-list child"><a href="#">鱼干<span class="number">（09）</span></a></li>
								<li class="main-nav-list child"><a href="#">鲜鱼<span class="number">（17）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉替代品<span class="number">（01）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉<span class="number">（11）</span></a></li>
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#healthProduct" aria-expanded="false" aria-controls="healthProduct"><span
								 class="lnr lnr-arrow-right"></span>保健品<span class="number">（29）</span></a>
							<ul class="collapse" id="healthProduct" data-toggle="collapse" aria-expanded="false" aria-controls="healthProduct">
								<li class="main-nav-list child"><a href="#">冷冻鱼<span class="number">（13）</span></a></li>
								<li class="main-nav-list child"><a href="#">鱼干<span class="number">（09）</span></a></li>
								<li class="main-nav-list child"><a href="#">鲜鱼<span class="number">（17）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉替代品<span class="number">（01）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉<span class="number">（11）</span></a></li>
							</ul>
						</li>
						<li class="main-nav-list"><a href="#">宠物护理<span class="number">（29）</span></a></li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#homeAppliance" aria-expanded="false" aria-controls="homeAppliance"><span
								 class="lnr lnr-arrow-right"></span>家用电器<span class="number">（15）</span></a>
							<ul class="collapse" id="homeAppliance" data-toggle="collapse" aria-expanded="false" aria-controls="homeAppliance">
								<li class="main-nav-list child"><a href="#">冷冻鱼<span class="number">（13）</span></a></li>
								<li class="main-nav-list child"><a href="#">鱼干<span class="number">（09）</span></a></li>
								<li class="main-nav-list child"><a href="#">鲜鱼<span class="number">（17）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉替代品<span class="number">（01）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉<span class="number">（11）</span></a></li>
							</ul>
						</li>
						<li class="main-nav-list"><a class="border-bottom-0" data-toggle="collapse" href="#babyCare" aria-expanded="false"
							 aria-controls="babyCare"><span class="lnr lnr-arrow-right"></span>婴儿护理<span class="number">（48）</span></a>
							<ul class="collapse" id="babyCare" data-toggle="collapse" aria-expanded="false" aria-controls="babyCare">
								<li class="main-nav-list child"><a href="#">冷冻鱼<span class="number">（13）</span></a></li>
								<li class="main-nav-list child"><a href="#">鱼干<span class="number">（09）</span></a></li>
								<li class="main-nav-list child"><a href="#">鲜鱼<span class="number">（17）</span></a></li>
								<li class="main-nav-list child"><a href="#">肉替代品<span class="number">（01）</span></a></li>
								<li class="main-nav-list child"><a href="#" class="border-bottom-0">肉<span class="number">（11）</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">产品筛选器</div>
					<div class="common-filter">
						<div class="head">品牌品牌</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">ADDIDAS<span>（29）</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">nike<span>（29）</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">李宁<span>（19）</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">匡威<span>（19）</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">回力<span>（19）</span></label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">颜色</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">黑色的<span>（29）</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
										Leather<span>（29）</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
										with red<span>（19）</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">金子<span>（19）</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">太空灰<span>（19）</span></label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">价格</div>
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<div class="price">价格：</div>
								<span>$</span>
								<div id="lower-value"></div>
								<div class="to">至</div>
								<span>$</span>
								<div id="upper-value"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting">
						<select>
							<option value="1">默认排序</option>
							<option value="1">默认排序</option>
							<option value="1">默认排序</option>
						</select>
					</div>
					<div class="sorting mr-auto">
						<select>
							<option value="1">显示12</option>
							<option value="1">显示12</option>
							<option value="1">显示12</option>
						</select>
					</div>
					<div class="pagination">
						<a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<a href="#" class="active">1个</a>
						<a href="#">2个</a>
						<a href="#">3</a>
						<a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
						<a href="#">6</a>
						<a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
						<% for(let o of data){%>
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="/img/product/<%=o.img%>" alt="">
								<div class="product-details">
										<h6><%=o.title%></h6>
									<div class="price">
										<h6>$<%=o.good_price%></h6>
										<h6 class="l-through">$ <%=o.fee%></h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">添加至购物袋</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">心愿单</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">比较</p>
										</a>
										<a href="/index/single-product/<%=o.id%>" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">查看更多</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<%}%>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="/img/product/p2.jpg" alt="">
								<div class="product-details">
									<h6>addidas New Hammer sole
										for Sports person</h6>
									<div class="price">
										<h6>$ 150.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">添加至购物袋</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">心愿单</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">比较</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">查看更多</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="/img/product/p3.jpg" alt="">
								<div class="product-details">
									<h6>addidas New Hammer sole
										for Sports person</h6>
									<div class="price">
										<h6>$ 150.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">添加至购物袋</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">心愿单</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">比较</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">查看更多</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="/img/product/p4.jpg" alt="">
								<div class="product-details">
									<h6>addidas New Hammer sole
										for Sports person</h6>
									<div class="price">
										<h6>$ 150.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">添加至购物袋</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">心愿单</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">比较</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">查看更多</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="/img/product/p5.jpg" alt="">
								<div class="product-details">
									<h6>addidas New Hammer sole
										for Sports person</h6>
									<div class="price">
										<h6>$ 150.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">添加至购物袋</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">心愿单</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">比较</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">查看更多</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="/img/product/p6.jpg" alt="">
								<div class="product-details">
									<h6>addidas New Hammer sole
										for Sports person</h6>
									<div class="price">
										<h6>$ 150.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">添加至购物袋</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">心愿单</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">比较</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">查看更多</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
						<select>
							<option value="1">显示12</option>
							<option value="1">显示12</option>
							<option value="1">显示12</option>
						</select>
					</div>
					<div class="pagination">
						<a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<a href="#" class="active">1个</a>
						<a href="#">2个</a>
						<a href="#">3</a>
						<a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
						<a href="#">6</a>
						<a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>本周交易</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/img/r1.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">黑色蕾丝高跟鞋</a>
									<div class="price">
										<h6>$ 189.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/img/r2.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">黑色蕾丝高跟鞋</a>
									<div class="price">
										<h6>$ 189.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/img/r3.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">黑色蕾丝高跟鞋</a>
									<div class="price">
										<h6>$ 189.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/img/r5.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">黑色蕾丝高跟鞋</a>
									<div class="price">
										<h6>$ 189.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/img/r6.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">黑色蕾丝高跟鞋</a>
									<div class="price">
										<h6>$ 189.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/img/r7.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">黑色蕾丝高跟鞋</a>
									<div class="price">
										<h6>$ 189.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/img/r9.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">黑色蕾丝高跟鞋</a>
									<div class="price">
										<h6>$ 189.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/img/r10.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">黑色蕾丝高跟鞋</a>
									<div class="price">
										<h6>$ 189.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/img/r11.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">黑色蕾丝高跟鞋</a>
									<div class="price">
										<h6>$ 189.00</h6>
										<h6 class="l-through">$ 210.00</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="/img/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>关于我们</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
							magna aliqua.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>通讯</h6>
						<p>随时了解我们的最新动态</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									 required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
													<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
												</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">图表饲料</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="/img/i1.jpg" alt=""></li>
							<li><img src="/img/i2.jpg" alt=""></li>
							<li><img src="/img/i3.jpg" alt=""></li>
							<li><img src="/img/i4.jpg" alt=""></li>
							<li><img src="/img/i5.jpg" alt=""></li>
							<li><img src="/img/i6.jpg" alt=""></li>
							<li><img src="/img/i7.jpg" alt=""></li>
							<li><img src="/img/i8.jpg" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>跟着我们</h6>
						<p>让我们成为社会</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>\u003ci\u003eAll rights reserved |\u003c/i\u003e\u003cb\u003e版权所有|\u003c/b\u003e \u003ci\u003eThis template is made with\u003c/i\u003e\u003cb\u003e这个模板是用\u003c/b\u003e<i class="fa fa-heart-o" aria-hidden="true"></i>经过<a href="https://colorlib.com" target="_blank">彩库</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<!-- Modal Quick Product View -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="container relative">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
				<div class="product-quick-view">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="quick-view-carousel">
								<div class="item" style="background: url(/img/organic-food/q1.jpg);">

								</div>
								<div class="item" style="background: url(/img/organic-food/q1.jpg);">

								</div>
								<div class="item" style="background: url(/img/organic-food/q1.jpg);">

								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="quick-view-content">
								<div class="top">
									<h3 class="head">磨机油1000W加热器，白色</h3>
									<div class="price d-flex align-items-center"><span class="lnr lnr-tag"></span> <span class="ml-10">$ 149.99</span></div>
									<div class="category">类别：<span>家庭</span></div>
									<div class="available">可用度：<span>有存货</span></div>
								</div>
								<div class="middle">
									<p class="content">Mill Oil is an innovative oil filled radiator with the most modern technology. If you are
										looking for something that can make your interior look awesome, and at the same time give you the pleasant
										warm feeling during the winter.</p>
									<a href="#" class="view-full">查看全部详细信息<span class="lnr lnr-arrow-right"></span></a>
								</div>
								<div class="bottom">
									<div class="color-picker d-flex align-items-center">Color:
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
									</div>
									<div class="quantity-container d-flex align-items-center mt-15">
										Quantity:
										<input type="text" class="quantity-amount ml-15" value="1" />
										<div class="arrow-btn d-inline-flex flex-column">
											<button class="increase arrow" type="button" title="Increase Quantity"><span class="lnr lnr-chevron-up"></span></button>
											<button class="decrease arrow" type="button" title="Decrease Quantity"><span class="lnr lnr-chevron-down"></span></button>
										</div>

									</div>
									<div class="d-flex mt-20">
										<a href="#" class="view-btn color-2"><span>添加到购物车</span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script src="/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<!--gmaps js-->
	<script src="https://maps.googleapis.com/maps/api/js/?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/js/gmaps.min.js"></script>
	<script src="/js/main.js"></script>
</body>

</html> 